node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
backend/Contact.api/.vs
backend_email_creds.txt
cred.txt
client/.env

# Ignore env and config files inside backend/
backend/.env
backend/Contact.api/appsettings.Development.json
backend/Contact.apiappsettings.Local.json
backend/Contact.apiappsettings.json

# Ignore build folders inside backend/
backend/Contact.apibin/
backend/Contact.apiobj/
backend/Contact.apipublish/